.navbar_google {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    
}


.navbar_google_item{
    margin: 10px;
    color: black;
    
}
a:link{
    color:black;
    text-decoration:none;
    
}
a:hover{
    color:black;
    text-decoration:underline;
    
}

a:active{
    color: black;
}
a:visited{
    color: #3c4043;
    
}


.g_img{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 20px;
    
   
}
.bottom:hover{
    border: 00.1px solid #848687;
    }
    .lucky:hover{
        border: 00.1px solid #848687;
    }
.rounded-ip{
    display: flex;
    z-index: 3;
    height: 40px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(582px + 05px);
     margin-top: 30px;
}
.bottom{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.lucky{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.ad{
    color:rgb(217,48,37);
    font-size: 20px;
    margin: 34px 40px;
    
    font-weight: 400;
    font-family: arial,sans-serif;
}
.line{
    border-bottom: 1px solid #ebebeb;
    
}
.advance{
    
        color: rgb(51,51,51);
        font-family: arial,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        vertical-align: baseline;
        margin: 42px;
        margin-top: 50px;
}

.row-input{
    margin-top: -35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
    font-style: normal;
    font-family: arial,sans-serif;
    font-weight: 400;
}   
.left{
    width: 200px;
    margin-left: 44px;
}
.form_input{
    width: 540px;
    height: 25px;
    box-shadow: blue;
}
.right{
    width: 500px;

}
.qqq{
    margin-top: 45px;
}
.www{
    margin-top:45px
}
.rrr{
    margin-top: 45px;
}
.btn-advanced{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #3079ed;
     border-radius: 2px;
    border: 8px solid #3079ed;
    color:#fff;
    margin: 15px;
    
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
.btn{
    display: flex;
    justify-content: flex-end;
    width: 400px;
    margin-left: 407px;
}




    


